li {
  display: flex;
  justify-content: space-between;

  &:active {
    cursor: grab;
  }
}

.inputContainer {
  display: flex;
  align-items: center;
  font-size: inherit;

  input {
    --webkit-appearance: checkbox;
    cursor: pointer;
  }
}

.buttonRemove {
  background: var(--very-dark-desaturated-blue);
  border: 0;
}
